source https://www.nuget.org/api/v2
framework net452

nuget FSharp.Core
nuget FSharp.Data
nuget XPlot.GoogleCharts
nuget FSharp.Data.SqlClient
nuget SqlProvider
nuget Http.fs 1.5.1
nuget SwaggerProvider
nuget FSCheck.Xunit
nuget Canopy